<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.artoo.sopt23.artoo_client_android">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
            android:name=".Network.ApplicationController"
            android:allowBackup="true"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:supportsRtl="true"
            android:theme="@style/NoActionBar"
            android:usesCleartextTraffic="true">
        <activity android:name=".Activity.MainActivity"/>
        <activity
                android:name=".Activity.LoginActivity"
                android:windowSoftInputMode="adjustPan">
        </activity>
        <activity
                android:name=".Activity.JoinActivity"
                android:windowSoftInputMode="adjustPan"/>
        <activity
                android:name=".Activity.ProductDetailActivity"
                android:windowSoftInputMode="adjustPan"/>
        <activity
                android:name=".Activity.ProductUploadActivity"
                android:windowSoftInputMode="adjustPan"/>
        <activity android:name=".Activity.FilterActivity"/>
        <activity android:name=".Activity.ThemeActivity">
        </activity>
        <activity android:name=".Activity.ProductZoomActivity"/>
        <activity
                android:name=".Activity.ProductPurchaseActivity"
                android:windowSoftInputMode="adjustPan"/>
        <activity android:name=".Activity.EnterTheExhibitionActivity"/>
        <activity android:name=".Activity.ExhibitionDetailActivity"/>
        <activity android:name=".Activity.ApplyExhibitionActivity"/>
        <activity android:name=".Activity.AlarmActivity"/>
        <activity android:name=".Activity.MypagePreferencesActivity"/>
        <activity
                android:name=".Activity.MypageMyInfoActivity"
                android:windowSoftInputMode="adjustPan"/>
        <activity android:name=".Activity.MypageMyInfoModifyActivity"/>
        <activity android:name=".Activity.MypageServiceActivity"/>
        <activity android:name=".Activity.MypageHelpActivity"/>
        <activity android:name=".Activity.TodayArtooActivity">
        </activity>
        <activity android:name=".Activity.WithdrawalActivity">
        </activity>
        <activity android:name=".Activity.ProductPurchaseResultActivity"/>
        <activity android:name=".Activity.OtherUserPageActivity">
        </activity>
        <activity android:name=".Activity.MypagePolicyActivity">
        </activity>
        <activity android:name=".Activity.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
    </application>

</manifest>